.hebergements-and-populaires {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    padding-top: 25px;
    margin-right: 40px;
}

.hebergements h1 {
    margin-left: 25px;
    margin-bottom: 40px;
}

.ville-card {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px 0px 10px;
    gap: 30px;
    justify-content: space-evenly;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.card-title {
    font-size: 1rem;
    margin: 5px;
}

.card-subtitle {
    font-size: 0.875rem;
    margin: 5px;
}

.euro {
    font-weight: 700;
}

.card-rating {
    font-size: 1.125rem;
    margin: 10px 5px 5px 5px;
}

.card-rating i:nth-child(-n+4) {
    color: #0065FC; 
}
  
.card-rating i:nth-child(5) {
    color: #F2F2F2; 
}

.more-result{
    padding-top: 30px;
    margin-left:25px;
}

.more-result a {
  font-size: 1.125rem;
  font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    padding: 20px;
}
  
.populaires h1 {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-bottom: 40px;
}
  
.populaires h1 .chart-icon {
    margin-right: 25px;
}
 
.populaires-cards {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
    gap: 30px;
    justify-content: space-evenly;
}

.pop-card {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.pop-card img {
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}
  
.pop-card-content {
    margin-top: 5px;
    padding-left: 15px;
    align-content: flex-end;
}

.pop-card-txt {
    margin-bottom: 50px;
}

.pop-card-title {
    font-size: 1rem;
    margin: 5px;
    flex-wrap: wrap;
}
  
.pop-card-subtitle {
    font-size: 0.875rem;
    margin: 5px;
}
  
.pop-card-rating {
    text-align: left;
}

.pop-card-rating i:nth-child(-n+4) {
    color: #0065FC; 
}
  
.pop-card-rating i:nth-child(5) {
    color: #F2F2F2; 
}
  
/****** Activités ***********/
.activites {
    width: 100%;
}

.activites h1 {
 margin-top: 60px;
 padding-left: 30px; 
}

.activites-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.activites-card .card {
    margin-top: 33px;
    margin-bottom: 33px;
    padding: 0px 0px 5px 0px;
}

.activites-card img {
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activites-card .card-title {
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 15px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (width <= 1024px) {

.hebergements-and-populaires {
    flex-direction: column;
    gap: 40px;
}  

.hebergements {
    width: 90%;
    padding: 25px 0px 25px 0px;
}

.populaires {
    width: 90%;
    padding: 20px 0px 20px 20px;
}

.populaires-cards {
    flex-direction: row;
    margin: 0px;
}

.pop-card img {
    max-width: 92px;
}

.activites {
    width: 90%;
}

.activites-card {
    flex-wrap: nowrap;
}

.activites-card img {
    max-width: 65%;
    max-height: 52%;
}

}

/* Small devices (phones, less than 768px) */
@media (width <= 768px) {
    /* ... */
}