/******main search results properties******/
.hebergements-and-populaires {
    display: flex;
}

.hebergements-and-populaires section {
    border-radius: 20px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    margin-right: 2.50rem;
    background-color: var(--main-bg-color);
}

.hebergements h1 {
    padding: 1.5625em 0em 2.5em 1.5625em;
}

.ville-card {
    display: flex;
    flex-wrap: wrap;
    padding: 0em 1.25em 2em 1.25em;
    gap: 1.25em;
    justify-content: space-evenly;
}
.ville-card a {
    width: 30%;
    display: flex;
    flex: 1 1 auto;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 0.3125em;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%;
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    height: 100px;
    width: 100%;
}

.card-title {
    font-size: 1rem;
    padding: 0.3125em;
}

.card-subtitle {
    font-size: 0.875rem;
    padding: 0.3125em;
}

.euro {
    font-weight: 700;
}

.card-rating {
    font-size: 1.125rem;
    padding: 0.6250em 0.3125em 0.3125em 0.3125em;
}

.card-rating i:nth-child(-n+4) {
    color: #0065FC; 
}
  
.card-rating i:nth-child(5) {
    color: #F2F2F2; 
}

.more-result{
    padding-bottom: 2em;
    padding-left: 1.8750em;
}

.more-result a {
  font-size: 1.125rem;
  font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}
  
.populaires h1 {
    display: flex;
    justify-content: space-between;
    padding: 1.5625em 0em 2.5em 1.5625em;
}
  
.populaires h1 .chart-icon {
    padding-right: 1.5625em;
}
 
.populaires-cards {
    display: flex;
    flex-direction: column;

    padding: 0em 1.25em 1.8750em 1.25em;
    gap: 1.25em;
    justify-content: space-evenly;
}

.populaires-cards a {
    display: flex;
    flex: 1 1 auto;
}

.populaires-cards .card {
    display: flex;
    flex-direction: row;
    max-height: 145px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-radius: 20px 0px 0px 20px;
}
  
.populaires-cards .card-content {
    display: flex;
    flex-direction: column;
    padding-top: 0.3125em;
    padding-left: 0.9375em;
}

.populaires-cards .card-txt {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
  
/****** Activités ***********/
.activites {
    width: auto;
    display: flex;
    padding-top: 2em ;
    padding-bottom: 4.5em;
    flex-flow: row wrap;
}

.activites h1 {
    padding: 2em 0em 2em 2em;
    width: 100%;
}

.activites-card {
    display: flex;
    gap: 2em;
}

.activites-card .card {
    padding: 0em 0em 0.3125em 0em;
}

.activites-card a {
    display: flex;
    width: 25%;
}

.activites-card img {
    display: flex;
    max-width: 100%;
    height: 400px;
}

.activites-card .card-title {
    display: flex;
    align-items: center;
    padding: 0.9375em;
    text-align: left;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (width <= 1024px) {

.hebergements-and-populaires {
    flex-direction: column;
    gap: 2.5em;
}

.populaires h1 .chart-icon {
    padding: 0rem 1.5625em;
}
.hebergements {
    width: 100%;
}

.more-result {
    margin-bottom: 30px;
}

.populaires {
    width: 100%;
}

.populaires-cards {
    flex-direction: row;
}

.populaires-cards .card {
    max-width: 275px;
}

.populaires-cards img {
    max-width: 92px;
}

}

/* Small devices (phones, less than 768px) */
@media (width <= 768px) {

.hebergements-and-populaires {
    flex-direction: column-reverse;
    gap: 2.5em; 
}

.hebergements-and-populaires section {
    border-radius: unset;
}

.hebergements {
    background-color: unset;
}

.ville-card {
   flex-direction: column;
}

.ville-card a {
    width: 100%;
    max-width: none;
    max-height: none;
}

.card img {
    width: 100%;
    height: 120px;
}

.populaires-cards {
    flex-direction: column;
}

.populaires-cards .card {
    width: 100%;
    max-width: none;
    max-height: none;
}

.populaires-cards img {
    min-width: 112px;
}

.activites  {
    justify-content: space-evenly;  
}
 
.activites-card {
    flex: 1 1 auto;
    flex-direction: column;
    margin: 1em;
}
 
.activites-card a {
    width: 100%;
}

}