.hebergements-and-populaires {
    display: flex;
}

.hebergements-and-populaires section {
    border-radius: 20px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    margin-right: 2.50rem;
    background-color: var(--main-bg-color);
}

.hebergements h1 {
    margin: 1.5625rem 0rem 2.5rem 1.5625rem;
}

.ville-card {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    margin: 0rem 1.25rem 0rem 1.25rem;
    gap: 1.25rem;
    justify-content: space-evenly;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 0.3125rem;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.card-title {
    font-size: 1rem;
    display: flex;
    flex: 1 1 auto;
    margin: 0.3125rem;
}


.card-subtitle {
    font-size: 0.875rem;
    margin: 0.3125rem;
    display: flex;
    flex: 1 1 auto;
}

.euro {
    font-weight: 700;
}

.card-rating {
    font-size: 1.125rem;
    margin: 0.6250rem 0.3125rem 0.3125rem 0.3125rem;
    
}

.card-rating i:nth-child(-n+4) {
    color: #0065FC; 
}
  
.card-rating i:nth-child(5) {
    color: #F2F2F2; 
}

.more-result{
    margin-top: 2.5rem;
    margin-left: 1.8750rem;
}

.more-result a {
  font-size: 1.125rem;
  font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}
  
.populaires h1 {
    display: flex;
    justify-content: space-between;
    margin: 1.5625rem 0rem 2.5rem 1.5625rem;
}
  
.populaires h1 .chart-icon {
    margin-right: 1.5625rem;
}
 
.populaires-cards {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0rem 1.25rem 1.8750rem 1.25rem;
    gap: 1.25rem;
    justify-content: space-evenly;
}

.populaires-cards a {
    display: flex;
    flex: 1 1 auto;
}

.pop-card {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    background-color: white;
    border-radius: 20px;
    padding: 0.3125rem;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.pop-card img {
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}
  
.pop-card-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin-top: 0.3125rem;
    margin-left: 0.9375rem;
    align-content: flex-end;
}

.pop-card-txt {
    margin-bottom: 5rem;
}

.pop-card-title {
    font-size: 1rem;
    margin: 0.3125rem;
    flex-wrap: wrap;
}
  
.pop-card-subtitle {
    font-size: 0.875rem;
    margin: 0.3125rem;
}
  
.pop-card-rating {
    text-align: left;
}

.pop-card-rating i:nth-child(-n+4) {
    color: #0065FC; 
}
  
.pop-card-rating i:nth-child(5) {
    color: #F2F2F2; 
}
  
/****** Activités ***********/
.activites {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.activites h1 {
    margin-top: 3.75rem;
    padding-left: 1.8750rem; 
}

.activites-card {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-around;
}

.activites-card .card {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin-top: 2.0625rem;
    margin-bottom: 2.0625rem;
    padding: 0rem 0rem 0.3125rem 0rem;
}

.activites-card a {
    display: flex;
    flex: 1 1 auto;
}

.activites-card img {
    display: flex;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activites-card .pop-card-content{
    display: flex;
    flex: 1 1 auto;
}
.activites-card .card-title {
    font-size: 1rem;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    margin: 0.9375rem;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (width <= 1024px) {

.hebergements-and-populaires {
    flex-direction: column;
    gap: 2.5rem;
}

.hebergements {
    width: 100%;
}

.more-result {
    margin-bottom: 30px;
}

.populaires {
    width: 100%;
}

.populaires-cards {
    flex-direction: row;
}

.pop-card {
    max-width: 275px;
}

.pop-card img {
    max-width: 92px;
}

.pop-card-txt {
    margin-bottom: 2.5rem;
}

.activites-card .card {
    max-width: 194px;
}
.activites-card .card-title {
    font-size: 0.9375rem;
    text-align: start;
}

}

/* Small devices (phones, less than 768px) */
@media (width <= 768px) {



.hebergements-and-populaires {
    flex-direction: column-reverse;
    gap: 2.5rem; 
}

.hebergements-and-populaires section {
    border-radius: unset;
}

.hebergements {
    background-color: unset;
}

.ville-card {
   flex-direction: column;
}

.card img {
    width: 100%;
    height: 120px;
}

.populaires-cards {
    flex-direction: column;
}

.pop-card {
    width: 100%;
    max-width: none;
    max-height: none;
}

.pop-card img {
    min-width: 112px;
}

.activites  {
   justify-content: center;  
}

.activites-card {
    flex-direction: column;
    margin: 1rem;
}

.activites-card .card {
    max-width: none;
    max-height: none;
}

}