/****** General ***********/
* {
    font-family: "Raleway", sans-serif;

}  

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    
}

a {
    color: #000000;
    text-decoration: none;
}

h1 {
    font-size: 22px;
    color: #000000;
}

h2 {
    font-size: 18px;
    color: #000000;  
}
p
{
  font-size: 16px;
  color: #000000;
}

body {
    max-width: 1440px; 
    min-width: 320px; 
    margin: 0 auto;
    padding: 0px 50px 0px 50px;
    gap: 35px 
} 

.header-container {
    display: flex;
    align-items: center;
}
.logo-container {
    flex: 1; /* Ajoutez cette ligne pour que le logo prenne tout l'espace disponible à gauche */
}
  
.menu {
    display: flex;
    align-items: center;
    gap: 10px; /* Ajoutez un espace entre les boutons du menu */
}
  
.menu a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-size: 16px;
}

.menu :hover {
    color: #0065FC;
    text-decoration: overline 2px; 
}

.fa-solid {
    color: var(--main-color);
}

