/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}  
html {
    font-size: 16px;
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.main-container {
    width: 100%;
    max-width: 1440px; 
    min-width: 320px;
    padding: 0px 50px;
}

a {
    color: #000000;
    text-decoration: none;
}

h1 {
    font-size: 1.375rem;
    color: #000000;
}

h2 {
    font-size: 1.1250rem;
    color: #000000;  
}

h3 {
    font-size: 1rem;
    color: #000000;    
}

p {
  font-size: 1rem;
  color: #000000;
}

body { 
    display:flex;
    justify-content: center;
    padding: 2px;
    margin-top: 11px;
} 

.fa-solid {
    color: var(--main-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 16px;
}

.logo {
    margin-right: auto;
    max-width: 100px;
    max-height: 100px;
}

nav a {
    padding: 2rem;
}

nav a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}
  
/********Headline*********/
.headline h1 {
    width: 100%;
   padding: 30px 0px 10px 0px;
}

/******* Search bar ********/
.search-form {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 1px;
    margin-top: 40px;
}
  
.search-form i {
    color: #000000;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
}
  
.search-input {
    border: 0.5px solid #d9d9d9;
    border-left: none;
    border-right: none;
    color: #333;
    padding: 0.8750rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    min-width: 190px;
}
  
.search-button {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    outline: none;
    padding: 0.9375rem 1rem 0.9375rem 1rem;
    border-radius: 0px 15px 15px 0px;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    width: 136px;
}
  
.search-button:hover {
    background-color: #0069d9;
}

.magnifying-glass:hover {
    background-color: #0069d9;
}

.magnifying-glass {
    display: none;
    border: none;
    outline: none;

}

.magnifying-glass i {
    background-color: var(--main-color);
    border-radius: 1rem 1rem 1rem 1rem;
    font-size: 1.25rem;
    color: #fff;
}

/******** Filter**********/
.filter-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.9375rem;
    margin: 2.5rem 0.9375rem 1.875rem 0rem;
}
  
.filter-container h2 {
    margin: 0.6250rem 0.6250rem 0.6250rem 0px;
}
  
#myBtnContainer {
    display: flex;
}

.btn {
    display: flex;
    font-size: 1.1250rem;
    font-weight: 700;
    border: 2px solid #d9d9d9;
    background-color: #fff;
    border-radius: 25px;
    padding: 0.6250rem 1.5625rem 0.6250rem 1.5625rem;
    justify-content: center;
    align-items: center;
    margin-right: 1.1875rem;
}

.btn i {
    margin-right: 0.6250rem;
}

.btn:hover {
    background-color: #deebff;
}

/*******info bar******/
.info-bar {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1.875rem;
}

.info-icon {
    font-size: 0.75rem;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 0.6250rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.6250rem;
    width: 0.6250rem;
    height: 0.6250rem;
}

/******* footer ******/
.footer-container {
    width: 100%;
    display: flex;
    align-items: baseline;  
    background-color: var(--main-bg-color);
    margin-top: 2.5rem;
}

.footer-column {
    flex: 1;
}
  
.footer-column h2 {
    margin-bottom: 0.6250rem;
    padding: 1.25rem 0.6250rem 0.6250rem 1.25rem;
}
  
.footer-column ul {
    list-style-type: none;
    padding: 0.3125rem;
    margin-left: 0.9375rem;
}
  
.footer-column li {
    margin-bottom: 0.3125rem;
    padding: 0.3125rem;
}
  
.footer-column a {
    text-decoration: none;
}
  
.footer-column a:hover {
    text-decoration: underline;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (width <= 1024px) {

}

/* Small devices (phones, less than 768px) */
@media (width <= 768px) {

.main-container {
    padding: 0rem;
}    

header {
    flex-direction: column;
}

.logo{
    margin: auto;
    max-width: 100px;
    max-height: 100px;
    display: flex;
    margin-bottom: 2rem;
}

nav{
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

nav .sub-nav{
    width: 100%;
    display: flex;
}

nav .sub-nav a{
    width: 100%;
    text-align: center;
    border-bottom: 3px solid lightgray;
}

nav a {
    padding-right: 2rem;
    padding-bottom: 0.6250rem;
}
nav a:hover{
    border-bottom: 3px solid #0065FC;
    border-top: 0px;
    color: #0065FC;
}

.headline {
    margin: 2.5rem 1.5rem;
}

.headline h1 {
    padding: 0rem;
}

.headline p {
    padding-top: 1rem;
}
.search-form {
    margin: 2.5rem 1.5rem 1.25rem 1.25rem;
    padding-left: 1rem;
}

.search-button {
    display: none;
}

.magnifying-glass {
    display: contents;
}

.filter-container {
    flex-direction: column;
    align-items: flex-start;
    margin: 2.5rem 1.5rem 1.25rem 1.25rem;
    padding-left: 1rem;
}
 
.filter-container h2 {
    text-align: left;
}

#myBtnContainer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.875rem;
}

.btn {
    padding: 1rem 1.5625rem 1rem 1.5625rem;
    width: 200px;
}

.info-bar {
    margin: 1.25rem;
}
    
}